[submodule "xv6-public"]
	path = xv6-public
	url = git@github.com:mit-pdos/xv6-public.git
[submodule "HW4/xv6-qc-eece7376"]
	path = HW4/xv6-qc-eece7376
	url = git@github.com:jiangqucheng/xv6-qc-eece7376.git
[submodule "xv6-qc-eece7376"]
	path = xv6-qc-eece7376
	url = git@github.com:jiangqucheng/xv6-qc-eece7376.git
